{% extends 'base.html.twig' %}


{% block body %}
                    <!--section -->
                    <section id="sec1">
                        <!-- container -->
                        <div class="container">
                            <!-- profile-edit-wrap -->
                            <div class="profile-edit-wrap">
                                <div class="profile-edit-page-header">
                                    <h2>Messages </h2>
                                    <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Messages</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="fixed-bar fl-wrap">
                                            <div class="user-profile-menu-wrap fl-wrap">
                                                <!-- user-profile-menu-->
                                                <div class="user-profile-menu">
                                                    <h3>Main</h3>
                                                    <ul>
                                                    	<li><a href="dashboard.html"><i class="fa fa-gears"></i>Dashboard</a></li>
                                                        <li><a href="dashboard-myprofile.html"><i class="fa fa-user-o"></i> Edit profile</a></li>
                                                        <li><a href="dashboard-messages.html" class="user-profile-act"><i class="fa fa-envelope-o"></i> Messages <span>3</span></a></li>
                                                        <li><a href="dashboard-password.html"><i class="fa fa-unlock-alt"></i>Change Password</a></li>
                                                    </ul>
                                                </div>
                                                <!-- user-profile-menu end-->
                                                <!-- user-profile-menu-->
                                                <div class="user-profile-menu">
                                                    <h3>Listings</h3>
                                                    <ul>
                                                        <li><a href="dashboard-listing-table.html"><i class="fa fa-th-list"></i> My listigs  </a></li>
                                                        <li><a href="dashboard-bookings.html"> <i class="fa fa-calendar-check-o"></i> Bookings <span>2</span></a></li>
                                                        <li><a href="dashboard-review.html"><i class="fa fa-comments-o"></i> Reviews </a></li>
                                                        <li><a href="dashboard-add-listing.html"><i class="fa fa-plus-square-o"></i> Add New</a></li>
                                                    </ul>
                                                </div>
                                                <!-- user-profile-menu end-->
                                                <a href="#" class="log-out-btn">Log Out</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="dashboard-list-box fl-wrap">
                                            <div class="dashboard-header fl-wrap">
                                                <h3>{{title}}</h3>
                                            </div>

                                            {% for message in messages %}
                                                <div class="dashboard-list" style="padding-{{ message.sender == user ? "left" : "right"}}: 100px!important; background: {{ message.sender == user ? "#e6ecf7" : "#f7e6f7"}};">
                                                    <div class="dashboard-message">
                                                        <div class="dashboard-message-avatar">
                                                            <img src="images/avatar/1.jpg" alt="">
                                                        </div>
                                                        <div class="dashboard-message-text">
                                                            <h4><span>{{message.getCreatedAt()|date("m/d/Y h:m")}}</span></h4>
                                                            <p>{{message.content}}</p>
                                                            <span class="reply-mail clearfix">{{message.status}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <tr>
                                                    <td colspan="13">no records found</td>
                                                </tr>
                                            {% endfor %}


                                            <div class="custom-form">
                                                <form method="post", action="/messages/create/">


                                                    <input type="text" value="" name="message" id="message" class="form-control" placeholder="Votre message..." required autofocus onClick="this.select()">
                                                    <input type="hidden" name="other" value="{{other.id}}">
                                                    <button type="submit"  class="log-submit-btn"><span>Envoyer</span></button>

                                                </form>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!--profile-edit-wrap end -->
                        </div>
                        <!--container end -->
                    </section>
                    <!-- section end -->
                    <div class="limit-box fl-wrap"></div>
                    <!--section -->
                    <section class="gradient-bg">
                        <div class="cirle-bg">
                            <div class="bg" data-bg="images/bg/circle.png"></div>
                        </div>
                    </section>
                    <!-- section end -->
            <a class="to-top"><i class="fa fa-angle-up"></i></a>
{% endblock %}
