{% extends 'base.html.twig' %}


{% block body %}
                    <!--section --> 
                    <section>
                        <!-- container -->
                        <div class="container">
                            <!-- profile-edit-wrap -->
                            <div class="profile-edit-wrap">
                                <div class="profile-edit-page-header">
                                    <h2>Modifier Profil</h2>
                                    <div class="breadcrumbs"><a href="#">Acceuil</a><a href="#">Tableau de bord</a><span>Modifier Profil</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="fixed-bar fl-wrap">
                                            <div class="user-profile-menu-wrap fl-wrap">
                                                <!-- user-profile-menu-->
                                                <div class="user-profile-menu">
                                                    <h3>Main</h3>
                                                    <ul>
                                                    	<li><a href="dashboard.html"><i class="fa fa-gears"></i>Tableau de bord</a></li>															
                                                        <li><a href="dashboard-myprofile.html" class="user-profile-act"><i class="fa fa-user-o"></i> Modifier Profil</a></li>
                                                        <li><a href="dashboard-messages.html"><i class="fa fa-envelope-o"></i> Messages <span>3</span></a></li>
                                                        <li><a href="dashboard-password.html"><i class="fa fa-unlock-alt"></i>Changer le Mot de Passe</a></li>
                                                    </ul>
                                                </div>
                                                <!-- user-profile-menu end-->
                                                <!-- user-profile-menu-->
                                                <div class="user-profile-menu">
                                                    <h3>Annonces</h3>
                                                    <ul>
                                                        <li><a href="dashboard-listing-table.html"><i class="fa fa-th-list"></i> Mes annonces  </a></li>
                                                        <li><a href="dashboard-bookings.html"> <i class="fa fa-calendar-check-o"></i> Réservations <span>2</span></a></li>
                                                        <li><a href="dashboard-review.html"><i class="fa fa-comments-o"></i> Commentaires </a></li>
                                                        <li><a href="dashboard-add-listing.html"><i class="fa fa-plus-square-o"></i> Add New</a></li>
                                                    </ul>
                                                </div>
                                                <!-- user-profile-menu end-->                                        
                                                <a href="#" class="log-out-btn">Deconnexion</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <!-- profile-edit-container--> 
                                        <div class="profile-edit-container">
                                            <div class="profile-edit-header fl-wrap">
                                                <h4>Mon compte</h4>
                                            </div>
                                            <div class="custom-form">
                                                <label>Nom <i class="fa fa-user-o"></i></label>
                                                <input type="text" placeholder="Nom" value="{{ app.user.lastname }}"/>
                                                <label>Prénom <i class="fa fa-user-o"></i></label>
                                                <input type="text" placeholder="Prénom" value="{{ app.user.firstname }}"/>
                                                <label>Adresse Email<i class="fa fa-envelope-o"></i>  </label>
                                                <input type="text" placeholder="Adresse Email" value="{{ app.user.email }}"/>
                                                <label>Téléphone<i class="fa fa-phone"></i>  </label>
                                                <input type="text" placeholder="Téléphone" value="{{ app.user.phone }}"/>
                                                <label> Adresse <i class="fa fa-map-marker"></i>  </label>
                                                <input type="text" placeholder="Adresse" value="{{ app.user.adress }}"/>
                                                <label> Site Web <i class="fa fa-globe"></i>  </label>
                                                <input type="text" placeholder="Site Web" value="{{ app.user.website }}"/>  
                                                <label> Description</label>                                              
                                                <textarea cols="40" rows="3" placeholder="Dites quelque chose d'intéressant!">{{ app.user.description }}</textarea>
                                            </div>
                                        </div>
                                        <!-- profile-edit-container end--> 
                                        									
                                        <!-- profile-edit-container--> 
                                        <div class="profile-edit-container">
                                            <div class="profile-edit-header fl-wrap" style="margin-top:30px">
                                                <h4>Social</h4>
                                            </div>
                                            <div class="custom-form">
                                                <label>Facebook <i class="fa fa-facebook"></i></label>
                                                <input type="text" placeholder="https://www.facebook.com/" value=""/>
                                                <label>Twitter<i class="fa fa-twitter"></i>  </label>
                                                <input type="text" placeholder="https://twitter.com/" value=""/>
                                                <label>Vkontakte<i class="fa fa-vk"></i>  </label>
                                                <input type="text" placeholder="vk.com" value=""/>
                                                <label> Whatsapp <i class="fa fa-whatsapp"></i>  </label>
                                                <input type="text" placeholder="https://www.whatsapp.com" value=""/>
                                                <button class="btn  big-btn  color-bg flat-btn">Sauvegarder<i class="fa fa-angle-right"></i></button>
                                            </div>
                                        </div>
                                        <!-- profile-edit-container end-->                                        
                                    </div>
                                    <div class="col-md-2">
                                        <div class="edit-profile-photo fl-wrap">
                                            <img src="{{ app.user.imgpath }}" class="respimg" alt="image profil" width="200" height="200">
                                            <div class="change-photo-btn">
                                                <div class="photoUpload">
                                                    <span><i class="fa fa-upload"></i> Envoyer Photo</span>
                                                    <input type="file" class="upload">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--profile-edit-wrap end -->
                        </div>
                        <!--container end -->
                    </section>
                    <!-- section end -->
                    <div class="limit-box fl-wrap"></div>
                    <!--section -->
                    <section class="gradient-bg">
                        <div class="cirle-bg">
                            <div class="bg" data-bg="images/bg/circle.png"></div>
                        </div>
                    </section>
                    <!-- section end -->
            <a class="to-top"><i class="fa fa-angle-up"></i></a>
{% endblock %}
