{% extends 'base.html.twig' %}

{% block body %}
    {# section #}
    <section class="scroll-con-sec hero-section home-container" data-scrollax-parent="true" id="sec1">
        <div class="media-container video-parallax" data-scrollax="properties: { translateY: '200px' }">
            <div class="bg mob-bg" style="background-image: url({{ asset('images/bg/logo.jpg') }})"></div>
            <div class="video-container">
                <video autoplay class="bgid" loop muted>
                    <source src="{{ asset('video/2.mp4') }}" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="overlay"></div>
        <div class="hero-section-wrap fl-wrap">
            <div class="container">
                <div class="intro-item fl-wrap">
                    <h2>Ces foyers qui cuisinent pour vous</h2>
                    <h3></h3>
                </div>

                <form name="form" method="get" action="{{ path('front_page_listing') }}" class="main-search-input-wrap">
                    <div class="main-search-input fl-wrap">
                        <div class="main-search-input-item">
                            <input type="text" id="form_adressInput" name="searchAddress" required="required" placeholder="Adresse"  class="main-search-adress"  />
                        </div>
                        <button type="submit" class="main-search-button">Rechercher</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="bubble-bg"></div>
    </section>
    {% include "front/page/include/section-how-it-work.html.twig" with {"usersCount": ""} only  %}

    <section class="parallax-section" data-scrollax-parent="true">
        <div class="bg" data-bg="{{ asset('images/bg/1.jpg') }}" data-scrollax="properties: { translateY: '100px' }"></div>
        <div class="overlay co lor-overlay"></div>
        <div class="container">
            <div class="intro-item fl-wrap">
                <h2>Accueillez vous aussi des voyageurs du monde entier.</h2>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="trs-btn" href="meals/new">Créer un repas</a>
                {% else %}
                    <a class="trs-btn" href="register">Devenir hôte</a>
                {% endif %}
            </div>
        </div>
    </section>
    {# section meal et user count #}
    {% include "front/page/include/section-user-count.html.twig" with {"usersCount": usersCount, "mealsCount": mealsCount} only  %}
    {% include "front/page/include/temoignage.html.twig" with {"commentaires": commentaires} only  %}
    {# section end #}
    {# section register form #}
    {% include "front/page/include/register-form.html.twig" with {"commentaires": ''} only  %}

    <a class="to-top">
        <i class="fa fa-angle-up"></i>
    </a>
{% endblock %}
{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5ikxbQmwA09L9fzc4jCS6XnFW26lpAYQ&libraries=places" type="text/javascript"></script>

    {{ encore_entry_script_tags('adress') }}
{% endblock %}
