{% extends 'base.html.twig' %}

{% block body %}
    <!--section -->
    <section id="sec1">
        <!-- container -->
        <div class="container">
            <!-- profile-edit-wrap -->
            <div class="profile-edit-wrap">
                <div class="profile-edit-page-header">
                    <h2>Bookings</h2>
                    <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Bookings</span></div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {% include 'partials/leftPanel.html.twig' %}
                    </div>
                    <div class="col-md-9">
                        <div class="dashboard-list-box fl-wrap">
                            <div class="dashboard-header fl-wrap">
                                <h3>Bookings</h3>
                            </div>
                            {% for booking in bookings %}
                                <!-- dashboard-list start-->
                                <div class="dashboard-list">
                                    <div class="dashboard-message">
                                        <span class="new-dashboard-item">New</span>
                                        <div class="dashboard-message-avatar">
                                            <img url="{{ booking.meal.host.getAvatar() }}" alt="">
                                        </div>
                                        <div class="dashboard-message-text">
                                            <h4>{{ booking.meal.host.getUserName() }} - <span>{{ booking.meal.host.getEmail() }}</span> - <span>{{ booking.meal.host.getPhone() }}</span></h4>
                                            <div class="booking-details fl-wrap">
                                                <span class="booking-title">Repas </span> :
                                                <span class="booking-text">{{ booking.meal.getTitle() }}</span>
                                            </div>
                                            <div class="booking-details fl-wrap">
                                                <span class="booking-title">Nombre d'invités max </span> :
                                                <span class="booking-text">{{ booking.meal.getMaxTraveller() }}</span>
                                            </div>
                                            <div class="booking-details fl-wrap">
                                                <span class="booking-title">Dates de la réservation </span> :
                                                <span class="booking-text">{{ booking.meal.getDateMeal() | date("m/d/Y à h:m", "Europe/Paris") }}</span>
                                            </div>
                                            <div class="booking-details fl-wrap">
                                                <span class="booking-title">Adresse </span> :
                                                <span class="booking-text"><a href="#" target="_top">{{ booking.meal.address.getStreet() }}, {{ booking.meal.address.getZc() }} {{ booking.meal.address.getCity() }} - {{ booking.meal.address.getCountry() }}</a></span>
                                            </div>
                                            <div class="booking-details fl-wrap">
                                                <span class="booking-title">Prix </span> :
                                                <span class="booking-text">{{ booking.meal.getPrice() }}</span>
                                            </div>
                                            {% for type in booking.meal.getTypes() %}
                                              <p><a href="#" class="btn  circle-btn color-bg flat-btn">{{ type.getTitle() }}</a></p>
                                            {% endfor %}

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere convallis purus non cursus. Cras metus neque, gravida sodales massa ut. </p>
                                            <a href="#" class="btn  circle-btn    color-bg flat-btn">Approve<i class="fa fa-check-square-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- dashboard-list end-->
                            {% else %}
                                <p>Vous n'avez aucune réservation</p>
                            {% endfor %}
                        </div>
                        <!-- pagination-->
                        <div class="pagination">
                            <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                            <a href="#" class="current-page">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--profile-edit-wrap end -->
        </div>
        <!--container end -->
    </section>
    <!-- section end -->
    <div class="limit-box fl-wrap"></div>
    <!--section -->
    <section class="gradient-bg">
        <div class="cirle-bg">
            <div class="bg" data-bg="images/bg/circle.png"></div>
        </div>
        <div class="container">
            <div class="join-wrap fl-wrap">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Do You Have Questions ?</h3>
                        <p>Lorem ipsum dolor sit amet, harum dolor nec in, usu molestiae at no.</p>
                    </div>
                    <div class="col-md-4"><a href="contacts.html" class="join-wrap-btn">Get In Touch <i class="fa fa-envelope-o"></i></a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
    <a class="to-top"><i class="fa fa-angle-up"></i></a>
{% endblock %}
