<!DOCTYPE HTML>
<html
    lang="en">
    {# head #}
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>
            {% block title %}Serveat
            {% endblock %}
        </title>
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta content="index, follow" name="robots"/>
        <meta content="" name="keywords"/>
        <meta
        content="" name="description"/>

        <!--=============== css  ===============-->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/plugins.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/color.css') }}">
        <link
        crossorigin="" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" rel="stylesheet"/>

        <!--=============== favicons ===============-->
        <link href="images/favicon.ico" rel="shortcut icon">

        <style>
            .msg-notification {
                position: relative;
            }

            .msg-notification .msg-badge {
                font-size: 10px;
                position: absolute;
                top: -5px;
                right: -10px;
                padding: 0 10px;
                border-radius: 50%;
                background-color: red;
                color: white;
            }
        </style>
    </head>
    {# head end #}
    {# body #}
    <body>
        {# main #}
        <div id="main">
            {% include('partials/header.html.twig') %}
            {# wrapper #}
            <div id="wrapper">
                <div class="content">
                    {% block sidebar %}
                        {% if app.user %}{% endif %}
                    {% endblock %}

                    {% block body %}{% endblock %}
                </div>
            </div>
            {# wrapper end #}
            {% include('partials/footer.html.twig') %}
        </div>
        {# main end #}
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/count.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=YOURAPIKEYHERE&libraries=places&callback=initAutocomplete"></script>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
